@{
    ViewData["Title"] = "Home Page";
}

<div>
<pm-app></pm-app>
    Starter files
</div>

@section scripts {
    <script>
            System.import('app').catch(function(err){ console.error(err); });
    </script>
}
